{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Operator Details{% endblock %}

{% block content %}

<form action="" class="fleet-edit-wrapper" method="post">
    {% csrf_token %}
    <label for="operator_name">Operator Name:</label>
    <input type="text" name="operator_name" value="{{ operator.operator_name }}">
    <label for="operator_code">Operator Code:</label>
    <input type="text" name="operator_code" value="{{ operator.operator_code }}">

    {% with details=operator.operator_details %}
    <label for="website">Website:</label>
    <input type="text" name="website" placeholder="Website" value="{{ details.website }}">
    <label for="twitter">Twitter:</label>
    <input type="text" name="twitter" placeholder="Twitter" value="{{ details.twitter }}">
    <label for="type">Type:</label>
    <select name="type" id="type" style="margin-bottom: .5em;">
        {% for type in operator_types %}
        <option value="{{ type }}" {% if type|stringformat:"s" == details.type %}selected{% endif %}>{{ type }}</option>
        {% endfor %}
    </select>
    <small class="create-link-select2"><a href="/operator/create-type">Request A New Operator Type</a></small>

    {% if organisations %}
    <label for="organisation">Organisation:</label>
    <select name="organisation" id="" style="margin-bottom: .5em;">
        {% for organisation in organisations %}
        <option value="{{ organisation }}" {% if organisation == details.organisation %}selected{% endif %}>
            {{ organisation }}</option>
        {% endfor %}
    </select>
    {% endif %}

    {% if groups %}
    <label for="group">Group:</label>
    <select name="group" id="" style="margin-bottom: .5em;">
        <option value="">None</option>
        {% for group in groups %}
        <option value="{{ group.id }}" {% if group == operator.group %}selected{% endif %}>{{ group }}</option>
        {% endfor %}
    </select>
    <small class="create-link-select2"><a href="/group/create">Create A New Group</a></small>
    {% else %}
    <label for="group">Group:</label>
    <br>
    <p>No groups available. <a href="{% url 'create_group' %}">Create a new group</a></p>
    <br>
    {% endif %}

    <label for="operator_region">Operator Region:</label>
    <select name="operator_region" id="operator_region" multiple>
        {% for country, regions in regionData.items %}
        <optgroup label="{{ country }}">
            {% for r in regions %}
            <option value="{{ r.id }}" {% if r in operator.region.all %}selected{% endif %}>{{ r.region_name }}</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <small>Hold CTRL to select multiple</small>

    <input type="text" name="transit_authorities" placeholder="Local Government Body"
        value="{{ details.transit_authorities }}">
    {% endwith %}

    <label for="map">Map:</label>
    <select name="map" id="map">
        {% for map in mapTileSets %}
        <option value="{{ map.id }}" {% if map.id == currentMap %}selected{% endif %}>{{ map.name }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn">Save Changes</button>
    <button class="btn delete-btn" type="button" onclick="window.location.href='{% url 'delete_operator' operator.operator_name %}'">Delete</button>
</form>

{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<link rel="stylesheet" href="{% static 'css/select2.css' %}">
{% endblock %}