{% extends 'base.html' %}
{% block title %}Select Vehicles to Mass Edit{% endblock %}

{% block content %}
<h1>Select Vehicles to Mass Edit</h1>

<form method="POST">
  {% csrf_token %}

  <div class="container-fluid px-0">
    <div class="table-responsive">
      <table class="table table-bordered w-100">
        <thead>
          <tr>
            <th>Select</th>
            <th>Fleet Number</th>
            <th>Registration</th>
            <th>Depot</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {% for vehicle in vehicles %}
            <tr>
              <td><input type="checkbox" name="selected_vehicles" value="{{ vehicle.id }}"></td>
              <td>{{ vehicle.fleet_number }}</td>
              <td>{{ vehicle.reg }}</td>
              <td>{{ vehicle.depot }}</td>
              <td>{{ vehicle.vehicleType.type_name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Fixed button for small screens -->
  <div class="d-block d-md-none">
    <button type="submit" class="btn btn-primary w-100 fixed-bottom m-0 rounded-0">Continue to Edit Selected</button>
  </div>

  <!-- Normal button for medium+ screens -->
  <div class="d-none d-md-block mt-3">
    <button type="submit" class="btn btn-primary">Continue to Edit Selected</button>
  </div>
</form>
{% endblock %}
