{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Ticket{% endblock %}

{% block content %}
<h1>Tickets</h1>
<p>All tickets for {{ operator.operator_name }} in Zone: {{ zone }}</p>

<h2>Tickets</h2>
{% for ticket in tickets %}
<a style="color: var(--text-color)" href="#" class="ticket">
    <h3>{{ ticket.ticket_name }}</h3>
    <p class="price">Price: {{ ticket.ticket_price }}</p><br><br>
    <p>Details: {{ ticket.ticket_details }}</p>
    <p>Zone: {{ ticket.zone }}</p>
    {% if ticket.single_use %}
    <p>Single Use</p>
    {% else %}
    <p>Valid for: {{ ticket.valid_for_days }} days</p>
    {% endif %}
</a>
{% endfor %}

{% endblock %}