{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}{{ operator_type.operator_type_name }}{% endblock %}

{% block content %}
<h2>{{ operator_type.operator_type_name }}</h2>

<ul>
  {% for operator in operators %}
    <li>
      {% if operator.operator_name %}
        <a href="{% url 'operator' operator.operator_name|urlencode %}">{{ operator.operator_name }}</a>
      {% else %}
        {{ operator }} <!-- fallback: could use operator.id or operator.name -->
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock %}