{% extends "base.html" %}
{% load static %}

{% block title %}Operator Helpers - {{ operator.operator_name }}{% endblock %}

{% block content %}
  <h2>Add Helper for {{ operator.operator_name }}</h2>

  <form method="POST" class="fleet-edit-wrapper">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn btn-primary">Add Helper</button>
  </form>
{% endblock %}

{% block extra_js %}  
  {{ form.media }}  <!-- Important: This outputs the widget JS -->
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/narrow.css' %}">
  <link rel="stylesheet" href="{% static 'css/select2.css' %}">
{% endblock %}

<script>
  $(document).ready(function() {
    $('.select2').select2();
  });
</script>
