{% extends 'mbtbase.html' %}
{% load static %}
{% block title %}Vehicles for Route {{ route.id }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wide.css' %}">
{% endblock %}


{% block content %}
  <h1>{{ route.route_num }} - {{ route.inbound_destination }}{% if route.outbound_destination %} - {{ route.outbound_destination }}{% endif %}</h1>

<ul class="tabs">
    <li class=""><a href="/operator/{{ operator.operator_slug }}/route/{{ route.id }}/">Timetable</a></li>
    <li class=""><a href="/map/route/{{ route.id }}/">Map</a></li>
    <li class="active">Vehicles</li>
</ul>

<input type="date" name="date" id="date" value="{{ date }}" onchange="location.href='/operator/{{ operator.operator_slug }}/route/{{ route.id }}/vehicles/?date=' + this.value">
<br><br>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Fleet Number</th>
                <th colspan="2">Trip</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td><a href="/operator/{{ vehicle.trip_vehicle.operator.operator_slug }}/vehicles/{{ vehicle.trip_vehicle.id }}/">{{ vehicle.trip_vehicle.fleet_number }} - {{ vehicle.trip_vehicle.reg }}</a></td>
                <td>{% if vehicle.trip_display_id %}{{ vehicle.trip_display_id }}{% else %}{{ vehicle.pk }}{% endif %}</td>
                <td><a href="/map/trip/{{ vehicle.trip_id }}/">{{ vehicle.trip_start_at | date:"H:i" }}</a></td>
                <td>{{ vehicle.trip_end_location }}</td>
                <td><a href="/map/trip/{{ vehicle.trip_id }}/">Map</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  
{% endblock %}