{% extends 'mbtbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<style>
    nav {
        margin: 1em auto;
        overflow: hidden;
    }

    .previous {
        float: left;
    }
    .next {
        float: right;
    }
    .early {
        opacity: 0.5;
    }
</style>
{% endblock %}

{% block content %}

<h2>{{ vehicle.fleet_number }} - {{ vehicle.reg }} | Archived Trips</h2>

<div style="margin-bottom: 1em;">
    {% if all_trip_dates %}
    <form method="get" style="display: inline;">
        <select name="date" id="date" onchange="this.form.submit()">
            {% for trip_date in all_trip_dates %}
                <option value="{{ trip_date|date:'Y-m-d' }}" {% if trip_date == selected_date %}selected{% endif %}>
                    {{ trip_date|date:'l j M Y' }}
                </option>
            {% endfor %}
        </select>
    </form>
    {% endif %}
</div>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th scope="col">Route</th>
                <th scope="col" colspan="2">Trip</th>
                <th scope="col">To</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <td class="link">
                    {% if trip.trip_route and trip.trip_route.route_num %}
                        <a href="/operator/{{ operator.operator_slug }}/route/{{ trip.trip_route.id }}/#{{ trip.trip_start_at|date:'H:i' }}">{{ trip.trip_route.route_num }}</a>
                    {% else %}
                        {{ trip.trip_route_num }}
                    {% endif %}
                </td>
                <td class="tabular">{% if trip.trip_display_id %}{{ trip.trip_display_id }}{% else %}{{ trip.original_trip_id }}{% endif %}</td>
                <td class="link tabular">
                    {% if trip.trip_route and trip.trip_route.route_num %}
                        <a href="/operator/{{ operator.operator_slug }}/route/{{ trip.trip_route.id }}/#{{ trip.trip_start_at|date:'H:i' }}">{{ trip.trip_start_at|date:'H:i' }}</a>
                    {% else %}
                        {{ trip.trip_start_at|date:'H:i' }}
                    {% endif %}
                </td>
                <td>{{ trip.trip_end_location }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No archived trips found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav>
    {% if vehicle.previous_vehicle %}
    <p class="previous">
        <a href="{{ vehicle.previous_vehicle.link }}">← {{ vehicle.previous_vehicle.display }}</a>
    </p>
    {% endif %}
    {% if vehicle.next_vehicle %}
    <p class="next">
        <a href="{{ vehicle.next_vehicle.link }}">{{ vehicle.next_vehicle.display }} →</a>
    </p>
    {% endif %}
</nav>
{% endblock %}