{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">

{% endblock %}

{% block title %}{{ vehicle.fleet_number }} - {{ vehicle.reg }} - {{ vehicle.operator.operator_name }}{% endblock %}

{% block content %}

{% if vehicle.for_sale == True %}
<div class="for-sale-banner">
    ! I'm For Sale !
</div>
{% endif %}

<div class="fleet-info">
    <h1>
        {% if not vehicle.in_service %}<del>{% endif %}
            {{ vehicle.fleet_number }}
            <span class="reg {% if user.reg_background == True %}reg-bg{% endif %}">{{ vehicle.reg }}</span>
            {% if not vehicle.in_service %}</del>{% endif %}
    </h1>
    <div class="livery-cell" style="background: 
  {% if vehicle.colour %}
    {{ vehicle.colour }}
  {% elif vehicle.livery %}
    {{ vehicle.livery.left_css }}
  {% else %}
  {% endif %}
;"></div>

    {% if vehicle.livery and vehicle.livery.name %}
    {{ vehicle.livery.name }}
    {% else %}
    {{ vehicle.branding }}
    {% endif %}

    {% if vehicle.branding and vehicle.livery.name %}
    | {{ vehicle.branding }}
    {% endif %}

    <dl class="contact-details">
        <div>
            <dt>Type</dt>
            <dd>
                {{ vehicle.vehicle_type_data.type_name }}
                {{ vehicle.type_details }}
                {% if vehicle.open_top %} | Open Top{% endif %}
            </dd>

        </div>
        {% if vehicle.prev_reg %}
        <div>
            <dt>Prev Reg</dt>
            <dd>{{ vehicle.prev_reg }}</dd>
        </div>
        {% endif %}
    </dl>

    <dl class="contact-details">
        {% if vehicle.name %}
        <div>
            <dt>Name</dt>
            <dd>{{ vehicle.name }}</dd>
        </div>
        {% endif %}
        {% if vehicle.depot %}
        <div>
            <dt>Depot</dt>
            <dd>{{ vehicle.depot }}</dd>
        </div>
        {% endif %}
        {% if vehicle.length %}
        <div>
            <dt>Length</dt>
            <dd>{{ vehicle.length }}m</dd>
        </div>
        {% endif %}
    </dl>

    <dl class="contact-details">
        {% if vehicle.features and vehicle.features|length > 0 %}
        <div>
            <dt>Special Features</dt>
            <dd>{{ vehicle.features|join:", " }}</dd>
        </div>
        {% endif %}
    </dl>

</div>

<ul class="horizontal">
    <span>
        {% if 'owner' in helper_permissions or 'Edit Buses' in helper_permissions %}
        <li>
            <a href="/operator/{{ vehicle.operator.operator_name }}/vehicle/edit/{{ vehicle.id }}">Edit </a>
        </li> •
        {% endif %}
    </span>
    <span>
        <li><a href="/operator/history?vehicle={{ vehicle.id }}">History</a></li> •
    </span>
    <span>
        <li>
            <a target="_blank" href="
    https://www.flickr.com/search/?text=
    {{ vehicle.reg }}%20or%20{{ vehicle.reg|cut:' ' }}
    {% if vehicle.prev_reg %}
      %20or%20{{ vehicle.prev_reg }}%20or%20{{ vehicle.prev_reg|cut:' ' }}
    {% endif %}
    &sort=date-taken-desc
  ">Flickr</a>
        </li>

    </span>
</ul>

<ul class="horizontal">
    {% if last_trip and not last_trip.trip_ended %}
    <li>
        <a href="/tracking/vehicle/{{ last_trip.tracking_id }}">
            <button>Track Vehicle</button>
        </a>
    </li>
    {% endif %}

    {% if 'owner' in helper_permissions or 'Log Trips' in helper_permissions %}
    <li>
        <a href="log_trip/">
            <button>Log A Trip</button>
        </a>
    </li>
    {% endif %}
</ul>

{% if all_trip_dates %}
    <form method="get" style="margin-bottom: 1em;">
        <select name="date" id="date" onchange="this.form.submit()">
            {% for trip_date in all_trip_dates %}
                <option value="{{ trip_date|date:'Y-m-d' }}" {% if trip_date == selected_date %}selected{% endif %}>
                    {{ trip_date|date:'l j M Y' }}
                </option>
            {% endfor %}
        </select>
    </form>
{% endif %}

</form>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th scope="col">Route</th>
                <th scope="col" colspan="2">Trip</th>
                <th scope="col">To</th>
                <th scope="col">Map</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr id="journey-{{ trip.pk }}">
                <td class="link">
                    {% if trip.trip_route.route_num %}
                        <a href="/operator/{{ vehicle.operator.operator_name }}/route/{{ trip.trip_route.id }}/#{{ trip.trip_start_at|date:"H:i" }}">{{ trip.trip_route.route_num }}</a>
                    {% else %}
                        {{ trip.trip_route_num }}
                    {% endif %}
                </td>
                <td class="tabular">{{ trip.pk }}</td>
                <td class="link tabular">
                    {% if trip.trip_route.route_num %}
                        <a href="/operator/{{ vehicle.operator.operator_name }}/route/{{ trip.trip_route.id }}/#{{ trip.trip_start_at|date:"H:i" }}">{{ trip.trip_start_at|date:"H:i" }}</a>
                    {% else %}
                        {{ trip.trip_start_at|date:"H:i" }}
                    {% endif %}
                </td>
                <td>{{ trip.trip_end_location }}</td>
                <td class="link">
                    <a href="/map/trip/{{ trip.trip_id }}">Map</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No trips found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}