<h2>All Operators</h2>
<p>Operators on MyBusTiems</p>

<div class="operator-grid">
  <% operatorData.forEach(operator => { %>
    <a href="/operator/<%= encodeURIComponent(operator.operator_name) %>"><%= operator.operator_name %></a>
  <% }); %>
</div>

<div class="ad-box"></div>