:root {
    --brand-color: #304560;
    --brand-color-darker: #304560;
    --brand-color-darker-darker: #304560;

    --border-color: var(--brand-color-darker);
    --border-color-darker: var(--brand-color-darker-darker);

    --background-color: #222;

    --text-color: #fff;
    --link-color: #afdde9;
    --viewed-color: #0d1621;

    --header-image: var(--brand-color);
}