<link rel="stylesheet" href="/css/narrow.css">

<h2>Message Of The Day</h2>
<p>
    <%= message %>
</p>

<h2>Search</h2>
<p>Search for operators or routes</p>
<div class="homeSearch">
<form action="search">
    <input type="search" name="q" id="q" placeholder="Search">
    <input type="submit" value="Search">
</form>
</div>
<div class="ad-box"></div>
<div class="helpful-links">
    <ul>
        <a><li class="chip">My Profile</li></a>
    </ul>
</div>
<div class="companys">

</div>