<h1>Service Updates</h1>
<ul>
    <% serviceUpdates.forEach(update => { %>
        <li>
            <h2><%= update.title %> - <%= update.formattedDate %></h2>
            <p class="terms-text" id="output">
                <%- update.description.replace(/\r?\n/g, "<br>") %>
            </p>
        </li>
    <% }); %>
</ul>
