<h1>MyBusTimes</h1>

<ul>
    <li>• <a href="#terms">Terms and Conditions</a></li>
    <li>• <a href="#privacy">Privacy Policy</a></li>
    <li>• <a href="#content">User Generated Content</a></li>
    <li>• <a href="#faq">FAQ</a></li>
    <li>• <a href="#rules">Rules</a></li>
</ul>

<p>Updated: 20/04/2025</p>

<h2 id="terms">Terms and Conditions</h2>

<div class="terms-text">
    1. Use of MyBusTimes<br><br>

    <p class="terms-sub-text">
        1.1 Users are permitted to add any number of buses or fleets to their MyBusTimes account.
        There are no restrictions
        on the quantity of buses or fleets that can be managed within the platform.<br><br>

        1.2 Users may add helpers to assist with managing their fleet lists. However, if a helper makes alterations to
        or
        damages a fleet list, users may request support to recover the list. Please note that while we will make
        reasonable
        efforts to assist, there is no guarantee that recovery will be possible or successful.<br><br>
    </p>

    2. Modification of Fleet Lists<br><br>

    <p class="terms-sub-text">
        2.1 Users are strictly prohibited from altering or modifying other users' fleet lists without explicit
        permission.
        Any unauthorized changes to another user’s list are considered a violation of these Terms and
        Conditions.<br><br>
    </p>

    3. Conduct and Content<br><br>

    <p class="terms-sub-text">
        3.1 We maintain a zero-tolerance policy for vulgar or inappropriate messaging within forums or on buses. Any
        such
        content will be removed, and the user will receive a warning.<br><br>

        3.2 If a user continues to post vulgar content after receiving a warning, their account will be terminated, and
        they
        will be banned from the forums.<br><br>
    </p>

    4. Respect and Community Standards<br><br>

    <p class="terms-sub-text">
        4.1 We emphasize the importance of respectful interaction within the MyBusTimes community. The account system
        was
        implemented due to prior misuse by individuals that negatively impacted other users.<br><br>

        4.2 MyBusTimes is a free product developed and maintained during our personal time. We request that all users
        show
        respect for the platform and the efforts involved in its development and maintenance.<br><br>
    </p>

    5. General Terms<br><br>

    <p class="terms-sub-text">
        5.1 By using MyBusTimes, you agree to abide by these Terms and Conditions. Failure to comply with these terms
        may
        result in suspension or termination of your account.<br><br>

        5.2 These Terms and Conditions may be updated periodically. Users are responsible for reviewing the terms
        regularly
        to stay informed of any changes.<br>
    </p>
</div>

<div class="ad-box"></div>

<h2 id="faq">FaQ</h2>

<div class="terms-text">
    <strong>Is MyBusTimes Related To bustimes.org?</strong><br><br>

    <p class="terms-sub-text">
        MyBusTimes is a completely independent product, developed without any affiliation, connection, or association
        with
        bustimes.org.<br><br>
        While MyBusTimes has been intentionally designed to have a similar visual style to bustimes.org, this
        resemblance is
        purely superficial and serves only to evoke a certain aesthetic.<br><br>
        MyBusTimes is a separate project, distinct in purpose and function, created solely for entertainment purposes
        and
        specifically designed to enable users to create custom fleet lists.<br><br>
        It is important to note that despite any similarities in appearance or design, MyBusTimes and bustimes.org are
        entirely unrelated, and the similarities do not imply any form of endorsement, sponsorship, or relationship
        between
        the two platforms.<br><br>
        MyBusTimes does not replicate, compete with, or infringe upon the services or content provided by bustimes.org,
        and
        any likeness is a matter of stylistic choice rather than substantive connection. <br>
    </p>
</div>
<div class="ad-box"></div>
<div class="terms-text">
    <strong>What is the purpose of MyBusTimes?</strong><br><br>
    <p class="terms-sub-text">
        MyBusTimes (MBT) is designed purely for recreational purposes, providing users with a platform to create and
        customize fleet lists for games or for personal enjoyment.<br><br>
        The tool allows users to add their companies to groups, edit their fleet lists, manage routes, and modify those
        routes as desired.<br><br>
        Essentially, MyBusTimes offers a fun and interactive way to engage with bus simulation and management, catering
        to
        enthusiasts who enjoy personalizing their virtual bus environments.
    </p>
</div>