html,
body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI Variable, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #333;
    background-color: var(--background-color);
    color: var(--text-color);
}

.site-header {
    width: 100%;
    padding: 0 5em;
}

body.loading {
    pointer-events: none;
    cursor: wait;
}

body.loading .loading-spinner {
    display: block;
    /* Show a spinner */
}

/* Example spinner style */
.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

ul {
    list-style: none;
    padding: 0;
}

header {
    height: 55px;
    background: var(--header-image);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

.site-header button {
    float: right;
    justify-content: center;
    align-content: center;
    height: 55px;
    width: 55px;
    background: none;
    border: none;
    text-align: center;
}

.site-header button:hover {
    cursor: pointer;
}

.ad-box {
    width: 100%;
    height: auto;
    aspect-ratio: 3.9 / 1;
    object-position: center;
    overflow-y: hidden;
    border: 1px var(--border-color) solid;
    margin: 10px auto;
}

#logo {
    margin-top: 5px;
}

.site-header nav {
    background-color: var(--brand-color);
    display: none;
    position: relative;
    top: -9px;
    float: right;
    width: 115px;
    text-align: left;
    padding: 20px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.site-header li,
.site-header ul,
.site-header a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.site-header form {
    position: relative;
    top: 10px;
    float: right;
}

.site-header input[type='search'] {
    border: 1px solid var(--border-color);
    border-radius: 10px 0 0 10px;
    padding: 6.5px;
    background: var(--background-color);
    color: var(--text-color);
    font-size: 100%;
}

.site-header input[type='submit'] {
    border: 1px solid var(--border-color);
    border-radius: 0 10px 10px 0;
    padding: 6.5px;
    margin-left: -5px;
    color: var(--text-color);
    background: var(--border-color);
    font-size: 100%;
}

.site-header input[type='search']::placeholder {
    color: var(--text-color);
    opacity: .5;
}

.site-header input:focus {
    outline: none;
}

@media (max-width: 40.625em) {
    .site-header {
        padding: 0 1em;
    }

    .site-header input[type='submit'] {
        display: none;
    }

    .site-header input[type='search'] {
        border: none;
        background: transparent;
        color: var(--text-color);
        font-size: 100%;
        width: 4em;
        text-align: right;
    }

    .site-header input[type='search']::placeholder {
        color: var(--text-color);
        opacity: 1;
    }

    .site-header input[type='search']:focus {
        position: fixed;
        z-index: 2;
        background: var(--background-color);
        width: 100vw;
        left: 0;
        top: 0px;
        text-align: left;
        border-radius: 0;
        border: 12.5px solid var(--border-color);
    }

    .site-header form {
        position: absolute;
        top: 10px;
        right: 70px;
    }
}

#nav-menu {
    display: none;
}

#nav-menu.active {
    display: block;
}

footer {
    text-align: center;
}

main,
.content {
    padding: 0 2em;
}

main .homeSearch input[type="search"] {
    border: 1px solid var(--border-color);
    border-radius: 10px 0 0 10px;
    padding: 6.5px;
    background: var(--background-color);
    color: var(--text-color);
    font-size: 100%;
}

main .homeSearch input[type="submit"] {
    border: 1px solid var(--border-color);
    border-radius: 0 10px 10px 0;
    padding: 6.5px;
    margin-left: -5px;
    color: var(--text-color);
    background: var(--border-color);
    font-size: 100%;
}

main .homeSearch input[type='search']::placeholder {
    color: var(--text-color);
    opacity: .5;
}

main .homeSearch input:focus {
    outline: none;
}

main .banner {
    margin-top: -10px;
    height: 10em;
}

main .banner img {
    height: 12em;
    width: 100%;
    object-fit: cover;
}

main .pfp img {
    border-radius: 50%;
    border: 5px solid var(--background-color);
    width: 10em;
    height: 10em;
    object-fit: cover;
}

main .user-info {
    display: flex;
    margin-left: 12em;
    margin-top: -10em;
}

main .user-info span {
    display: flex;
    margin-top: 2.25em;
    margin-left: 5px;
}

.badge {
    padding: .25em .5em;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: .25em;
}

.badge ul::-webkit-scrollbar {
    display: none;
}

.badges ul {
    display: inline-flex;
    margin: 0;
    margin-left: 12em;
    text-wrap: nowrap;
    overflow-x: scroll;
    width: calc(100% - 12em);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user-info h1 {
    margin: 0;
    margin-top: .65em;
}

@media (max-width: 55.5em) {
    main .pfp-banner {
        margin-top: -25px;
    }

    main .pfp {
        margin-top: -2.5em;
        display: flex;
    }

    main .pfp img {
        width: 7.5em;
        height: 7.5em;
        margin: 0 auto;
    }

    main .user-info {
        display: flex;
        margin-left: 0;
        margin-top: 0;
    }

    .user-info h1 {
        width: 35vw;
        margin-top: -2em;
    }

    .user-info #user-options {
        margin-left: calc(-35vw - 15px);
        margin-top: -3.5em;
    }

    .badges ul {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .user-info #user-options {
        margin-left: calc(-35vw - 15px);
        margin-top: -2.5em;
    }
}

main .results ul,
main .results li {
    padding: 0;
    margin: 0;
    list-style: none;
}

main .wideSearch {
    width: 100%;
}

main .wideSearch input[type='search']::placeholder {
    color: var(--text-color);
    opacity: .5;
}

main .wideSearch input[type='search'] {
    color: var(--text-color);
    width: calc(90% - 40px);
}

main .results p {
    margin: 5px;
}

.userForm {
    display: block;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.userForm input {
    width: calc(100% - 20px);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 100%;
    color: var(--text-color);
}

.userForm input[type='submit'] {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userForm input[type='submit']:hover {
    border-color: var(--brand-color-darker);
    background-color: var(--brand-color-darker);
}

.userForm input:focus {
    outline: none;
}

#theme-selector {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    color: var(--text-color);
}

.breadcrumb {
    font-size: 1rem;
}

.breadcrumb a {
    color: var(--link-color);
    text-decoration: none;
    padding: .75em .5em;
}

.breadcrumb li::after {
    color: var(--brand-color-darker);
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px solid var(--brand-color-darker);
    margin: 1em 0;
    padding: 0;
}

.region::after {
    content: " /";
}

.default::after {
    content: "›";
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: var(--link-color);
}

.breadcrumb ol {
    padding: 0;
    list-style: none;
    display: flex;
}

.operator-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 0;
}

.services {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    list-style: none;
}

@media (max-width: 55.5em) {
    .services {
        grid-template-columns: repeat(1, 1fr);
    }

}

.name {
    border: 1px solid var(--border-color);
    color: var(--text-color);
    float: left;
    text-align: center;
    padding: .125em .5em;
    font-weight: normal;
    border-radius: 5px;
}

.first {
    border-radius: 5px 0 0 5px;
}

.last {
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
}

.middle {
    border-radius: 0;
    margin-left: -1px;
}

.is-short {
    white-space: nowrap;
    padding: .3125em .25em;
    font-size: 2em;
    line-height: 1em;
}

.destination {
    margin-left: 1em;
    display: flex;
}

.route a {
    display: flex;
    align-items: center;
}

.tabs {
    list-style: none;
    display: flex;
    padding: 0;
    border-bottom: 2px solid var(--brand-color-darker);
}

.tabs li {
    margin: 0 1em;
    padding-bottom: 5px;
}

.tabs .active {
    border-bottom: 4px solid var(--brand-color-darker);
    margin-right: 5px;
}

.contact-details {
    overflow-wrap: anywhere;
    flex-wrap: wrap;
    gap: 1em;
    display: flex;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0;
}

.footer-info {
    color: var(--border-color);
    display: inline-flex;
    text-align: center;
    margin: 0;
    padding: .25em 0;
}

.footer-info li {
    text-align: center;
    padding: 0 .25em;
}

.footer-info a {
    text-align: center;
    padding: 0 .5em;
    font-size: .8em;
}

.chips::-webkit-scrollbar {
    display: none;
}

.chips {
    display: flex;
    max-width: 100%;
    overflow-X: scroll;
    text-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chip {
    padding: .25em .5em;
    background: var(--brand-color);
    border-radius: 5px;
    margin-right: .25em;
    color: var(--text-color);
}

.chip:hover {
    background-color: var(--brand-color-darker);
    cursor: pointer;
}

.chip a {
    text-decoration: none;
    color: var(--text-color);
}

.chip a:hover {
    text-decoration: none;
}

#regions-container h2,
#regions-container ul {
    margin: 0;
    margin-top: 1em;
}

#regions-container ul {
    list-style: none;
    padding: 0;
    padding-left: 1em;
    column-count: 1;
    column-gap: 1em;
}

@media (min-width: 480px) {
    #regions-container ul {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    #regions-container ul {
        column-count: 3;
    }
}

#regions-container li {
    padding: .25em 1em;
    break-inside: avoid;
}

#regions-container a {
    white-space: nowrap;
    text-decoration: none;
}

#regions-container a:hover {
    text-decoration: underline;
}