main, footer {
    margin: 55px auto;
    width: 55.5em;
}

.site-header {
    margin: auto;
    width: 55.5em;
}

@media (max-width: 55.5em) {
    main, footer {
        margin: 55px auto;
        width: calc(100% - 4em);
    }
}