main {
    margin: 55px auto;
    width: 55.5em;
}

.site-header {
    margin: auto;
    width: 55.5em;
}

footer {
    width: 100%;
}

footer .ad-box {
    max-width: 55.5em;
}

@media (max-width: 55.5em) {
    main {
        margin: 55px auto;
        width: 100%;
        padding: 0;
    }

    footer {
        width: 100%;
    }
}