{% extends 'base.html' %}
{% block content %}
<h1>{{ page.title }}</h1>

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wide.css' %}">
<style>
  code {
    padding: 5px 15px;
    background: #00000042;
    border-radius: 5px;
  }
</style>
{% endblock %}

<div>
    {{ content_html|safe }}
</div>

<p><small>Last updated: {{ page.updated_at }}</small></p>
{% if user.is_authenticated %}
  <a href="{% url 'edit_wiki_page' slug=page.slug %}">✏️ Edit this page</a>
{% endif %}

{% endblock %}
