body {
  overflow-x: clip;
}

main {
  margin: 80px auto;
}

.ad {
  background: white;
}

.default::after {
  content: "›";
}

.login-form {
  display: grid;
}

.login-form input {
  margin-bottom: 10px;
}