{% extends "mbtbase.html" %}
{% load meta_tags %}

{% block extra_meta %}
    {% meta_description "{{ ticket_type }} Ticket - Opened By: {{ user.username }} - On {{ created_at }} - Status {{ status }}" %}
    {% meta_keywords "{{ ticket_type }}, ticket, support" %}
    {% meta_title "Ticket #{{ data.id }} - {{ ticket_type }} Ticket" %}
    {% meta_url "https://www.mybustimes.cc/tickets/{{ data.id }}/" %}
{% endblock %}

{% block content %}
<p>Please login to view this ticket</p>

<a href="/u/login?next=/tickets/{{ data.id }}/">Login</a>
{% endblock %}