<h1>Select a Game Route</h1>

<% if (games.length > 0) { %>
  <ul>
    <% games.forEach(function(game) { %>
      <li>
        <a href="/map/<%= game.game_name %>">
          <%= game.game_name.charAt(0).toUpperCase() + game.game_name.slice(1) %>
        </a>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No game routes available.</p>
<% } %>
