<link rel="stylesheet" href="/css/narrow.css">

<style>
    p {
        margin: 0;
    }
</style>

<h1>500 Internal Server Error</h1>
<h2>Oops! Something Went Wrong</h2>
<p>Something went wrong on our end. We're sorry for the inconvenience. Please try again later.</p>
<p>If the issue persists, please contact our support team for assistance.</p>
<p>Don't worry, we're working to fix it as quickly as possible!</p>
<br>
<p>If you need help, please reach out to support at <a href="mailto:support@mybustimes.cc">support@mybustimes.cc</a>.</p>
<br>
<a href="/">Go back to the home page</a>