:root { 
    -- #7861d1;
    --brand-color-darker: #610000 ;
    --brand-color-darker-darker: #a33b8e ;
    
    --border-color: #37307f ;
    --border-color-darker: #3875d7;
    
    --background-color:#272727 ;
    
    --text-color:#fff ;
    --link-color:#6e50b1 ;
    --viewed-color:#002b6f ;

    --header-image: linear-gradient(121deg, #4b688b 17%, transparent 17.05%), linear-gradient(-37deg, #b50000 20%, transparent 20.05%), linear-gradient(23deg, #3f50a5 46%, transparent 46.05%), linear-gradient(-187deg, #a75cbf 49%, transparent 49.05%), linear-gradient(0deg, #811221 100%, transparent 100.05%);
}