:root {
    --brand-color: #444444;
    --brand-color-darker: #555555;
    --brand-color-darker-darker: #666666;
    
    --border-color: var(--brand-color-darker);
    --border-color-darker: var(--brand-color-darker-darker);
    
    --background-color: #222222;
    
    --text-color: #ffffff;
    --link-color: #E4BFFF;
    --viewed-color: #333333;

    --header-image: #444444;
}