main {
  margin: 55px auto;
  width: 55.5em;
}

.site-header {
  margin: auto;
  width: 55.5em;
}

footer {
  width: 100%;
}

footer .ad-box {
  width: calc(90% - 4em);
  max-width: 45em;
}

@media (max-width: 975px) {
  footer .ad-box {
    width: 100%;
    max-width: 45em;
  }

  main {
    margin: 55px auto;
    width: 100%;
    padding: 0;
  }

  .content {
    padding: 0;
  }

  footer {
    width: 100%;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}
