{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wide.css' %}">

<style>
    .half {
        max-height: 300px;
        overflow: scroll;
    }

    @media (min-width: 48em) {
        .full-sub {
            justify-content: space-between;
            margin: -1em 0;
            display: flex;
        }

        .full {
            width: 100%;
        }

        .half {
            width: calc(50% - 10px);
        }
    }

    p {
        margin-top: 0;
    }

    h4 {
        margin-bottom: 0;
    }

    #uploaded-image {
        max-height: 260px;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    .img-container p {
        text-align: center;
    }

    .pfp-img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .user-info-post {
        display: flex;
        /* horizontal layout */
        align-items: center;
        /* vertically center items */
        gap: 10px;
        /* space between pfp and text */
    }

    .user-text {
        display: flex;
        flex-direction: column;
        /* stack username and date vertically */
        justify-content: center;
        margin-left: -5px;
    }

    .user-text a,
    .user-text p {
        margin: 0;
        font-weight: 700;
        color: var(--text-color);
        /* remove default margins */
    }

    .user-text small {
        margin: 0;
        opacity: 0.6;
        font-size: 0.85em;
    }
</style>
{% endblock %}

{% block title %}Community{% endblock %}

{% block extra_js %}
<script>
    function fetchRandomCommunityImage() {
        fetch("{% url 'get_random_community_image' %}")
            .then(response => response.json())
            .then(data => {
                if (data.image_url) {
                    document.getElementById("uploaded-image").src = data.image_url;
                    document.getElementById("username").innerText = data.uploaded_by;
                    document.getElementById("user-link").href = "/u/" + data.uploaded_by;
                } else {
                    console.error("Error fetching image:", data.error);
                }
            })
            .catch(error => console.error("Error:", error));
    }

    setInterval(fetchRandomCommunityImage, 10000);
    // Fetch a random community image on page load
    document.addEventListener("DOMContentLoaded", fetchRandomCommunityImage);
</script>
{% endblock %}

{% block content %}

<h1>Community Hub</h1>

<div class="full-sub">
    <div class="half">
        <div class="img-container">
            <img src="" alt="Uploaded By" id="uploaded-image" />
            <p>Uploaded By: <a id="user-link" href="/u/username"></a><span id="username">Username</span></a></p>
        </div>
    </div>
    <div class="half">
        <h3 style="position: sticky;margin-top: 0;top: 0;background: var(--background-color);padding: 0.25em 0;">Recent Updates</h3>
        <ul>
            {% for update in recent_updates %}
            <li>
                <h4>{{ update.title }} - {{ update.updated_at|date:"d/m/y" }}</h4>
                <p>
                    {{ update.description|linebreaksbr }}
                </p>
            </li>
            <hr>
            {% empty %}
            <li>No recent updates available.</li>
            {% endfor %}
            <a href="/site-updates/">View all updates</a>
        </ul>
    </div>
</div>
<br><br>
<div class="full-sub">
    <div class="half">
        <h3>Fun Stuff</h3>
        <ul>
            <li><a href="/displays/">Bus Displays</a></li>
            <li><a href="/forums/">Forums</a></li>
            <li><a href="/messages/">Messages</a></li>
        </ul>
    </div>
    <div class="half">
        <h3>Things to Do</h3>
        <ul>
            <li>
                <a href="/forum/thread/5/">Say Hi in general</a>
            </li>
            <li>
                <a href="/discord/">Join the discord</a>
            </li>
            <li>
                <a href="/forum/thread/141/">Add your photos</a>
            </li>
        </ul>

    </div>
</div>

{% endblock %}