{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<meta http-equiv="refresh" content="10">
{% endblock %}

{% block title %}You're in the queue{% endblock %}

{% block content %}

<h1>Please wait</h1>
<p>Your queue position: {{ position }}</p>
<p>The site is currently at full capacity. This page will refresh every 10 seconds.</p>

<div  class="ad-box">
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-format="fluid"
      data-ad-layout-key="-he+1j+4x-46-1s"
      data-ad-client="ca-pub-8764676296426896"
      data-ad-slot="7070995135"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script> 
</div>
{% endblock %}