{% extends 'mbtbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<style>
    .name {
        border: 1px solid var(--border-color);
        color: var(--text-color);
        float: left;
        text-align: center;
        padding: .125em .5em;
        font-weight: 400;
    }

    .name.is-short {
        font-size: 16px;
    }

    .name+.name {
        border-left: 0
    }

    .has-smalls .name {
        margin-right: .75em
    }

    .has-smalls .name+.name {
        margin-left: -.75em
    }

    .has-smalls li a,
    .has-smalls li a:hover .name {
        text-decoration: none;
        display: block;
    }

    .has-smalls li a:hover span {
        text-decoration: underline
    }

    .has-smalls span {
        text-overflow: ellipsis;
        display: block;
        overflow: hidden
    }

    .has-smalls small {
        color: var(--text-color);
        float: left;
        margin-right: .5em;
        font-size: .75em;
        display: block
    }

    .has-smalls small:last-child {
        float: none;
        text-overflow: ellipsis;
        margin: 0;
        padding-bottom: .33em;
        overflow: hidden
    }
</style>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Search</h1>
<p>Search for places, operators, services, users, and more</p>

<div class="wideSearch homeSearch">
    <form action="/search" method="get">
        <input type="search" name="q" value="{{ query }}" placeholder="Search for users..." />
        <input type="submit" value="Search">
    </form>
</div>

<div class="results">
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    {% if users and users|length > 0 %}
    <h2>{{ users|length }} user{% if users|length > 1 %}s{% endif %}</h2>
    <ul>
        {% for user in users %}
        <li>
            <p><a href="/u/{{ user.username }}">{{ user.username }}</a></p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if games and games|length > 0 %}
    <h2>{{ games|length }} game{% if games|length > 1 %}s{% endif %}</h2>
    <ul>
        {% for game in games %}
        <li>
            <p><a href="/map/{{ game.game_name }}/routes">{{ game.game_name }}</a></p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if routes and routes|length > 0 %}
    <h2>{{ routes|length }} route{% if routes|length > 1 %}s{% endif %}</h2>
    <ul class="has-smalls services">
        {% for route in routes %}
        <li>
            <a href="/operator/{{ route.route_operators_data.0.operator_slug }}/route/{{ route.id }}">
                {% if route.route_name %}
                <strong class="name first is-short" style="padding: 0 5px;">{{ route.route_num }}</strong>
                {% else %}
                {% if route.route_num %}
                <strong class="name is-short" style="padding: 0 5px;">{{ route.route_num }}</strong>
                {% endif %}
                {% endif %}

                {% if route.route_name %}
                {% if route.route_num %}
                <strong class="last name is-short" style="padding: 0 5px; margin-right: .5em;">
                    {{ route.route_name }}
                </strong>
                {% else %}
                <strong class="name is-short" style="padding: 0 5px; margin-right: .5em;">
                    {{ route.route_name }}
                </strong>
                {% endif %}
                {% endif %}

                <span class="description">
                    {{ route.inbound_destination|default:"Unknown" }}
                    {% if route.outbound_destination %}
                    - {{ route.outbound_destination }}
                    {% endif %}
                </span>
                <small>{{ route.route_operators_data.0.operator_name|default:"Unknown" }}</small>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if operators_name or operators_code %}
    {% if operators_name|length > 0 or operators_code|length > 0 %}
    <h2>{{ operators_name|length|add:operators_code|length }}
        operator{% if operators_name|length|add:operators_code|length > 1 %}s{% endif %}</h2>
    {% endif %}
    {% endif %}

    {% if operators and operators|length > 0 %}
    <h2>{{ operators|length }} operator{% if operators|length > 1 %}s{% endif %}</h2>
    <ul>
        {% for operator in operators %}
        <li>
            <p><a href="/operator/{{ operator.operator_slug }}">{{ operator.operator_name }}</a></p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if vehicles and vehicles|length > 0 %}
    <h2>{{ vehicles|length }} vehicle{% if vehicles|length > 1 %}s{% endif %}</h2>
    <ul>
        {% for vehicle in vehicles %}
        <li>
            <p><a href="/operator/{{ vehicle.operator.operator_slug }}/vehicles/{{ vehicle.id }}">{{ vehicle.fleet_number }}
                    - {{ vehicle.reg }}</a></p>
            <small>{{ vehicle.operator.operator_name }}</small>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if not users or users|length == 0 %}
    {% if not games or games|length == 0 %}
    {% if not operators or operators|length == 0 %}
    {% if not routes or routes|length == 0 %}
    {% if not vehicles or vehicles|length == 0 %}
    <br>
    <p>Nothing for your search: {{ query }}.</p>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
</div>

{% endblock %}